parameters:
  level: 9
  paths:
    - src
  excludePaths:
    - vendor
    - tests
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '#^Method Smpl\\Collections\\([A-Za-z]*)\:\:copy\(\) should return Smpl\\Collections\\([A-Za-z]*)\<NE\> but returns Smpl\\Collections\\([A-Za-z]*)\<mixed\>\.$#'
    - '#^Method Smpl\\Collections\\([A-Za-z]*)\:\:copy\(\) should return Smpl\\Collections\\([A-Za-z]*)\<E\|NE\> but returns Smpl\\Collections\\([A-Za-z]*)\<mixed\>\.$#'
    - '#^Method Smpl\\Collections\\([A-Za-z]*)\:\:copy\(\) should return Smpl\\Collections\\([A-Za-z]*)\<NE\> but returns Smpl\\Collections\\([A-Za-z]*)\<E\|NE\>\.$#'
    - '#^Method Smpl\\Collections\\Sorted([A-Za-z]*)\:\:([A-Za-z]*)\(\) should return Smpl\\Collections\\Sorted([A-Za-z]*)\<E\> but returns Smpl\\Collections\\Sorted([A-Za-z]*)\<mixed\>\.$#'
    - '#^Method Smpl\\Collections\\Sorted([A-Za-z]*)\:\:getComparator\(\) should return Smpl\\Utils\\Contracts\\Comparator\<mixed\> but returns Smpl\\Utils\\Contracts\\Comparator\<mixed\>\|null\.$#'
    - '#^PHPDoc type array\<int, Smpl\\Collections\\Support\\PrioritisedElement\<E\>\> of property Smpl\\Collections\\Priority([A-Za-z]*)\:\:\$elements is not covariant with PHPDoc type array\<int, E\> of overridden property Smpl\\Collections\\BaseCollection\<E\>\:\:\$elements\.$#'
    - message: '#Unsafe usage of new static\(\)#'
      path: src/Concerns/NewCollectionOfElements.php
    - message: '#^Property Smpl\\Collections\\BaseCollection\<E\>\:\:\$elements \(array\<int, E\>\) does not accept array\<int, E\|Smpl\\Collections\\Support\\PrioritisedElement\>\.$#'
      path: src/Concerns/PrioritisesElements.php
    - message: '#^Parameter \#3 \$comparator of static method Smpl\\Collections\\Helpers\\IterableHelper\:\:([A-Za-z]*)\(\) expects Smpl\\Utils\\Contracts\\Comparator\<mixed\>\|null, Smpl\\Collections\\Support\\PrioritisedElementComparator given\.$#'
      path: src/Concerns/PrioritisesElements.php
    - message: '#^Parameter \#2 \$callback of function usort expects callable\(E, E\)\: int, Smpl\\Collections\\Support\\PriorityComparator given\.$#'
      path: src/Concerns/PrioritisesElements.php
    - message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(E\)\: mixed\)\|null, Closure\(Smpl\\Collections\\Support\\PrioritisedElement\)\: mixed given\.$#'
      path: src/Concerns/PrioritisesElements.php